html {
  height: 90%;
  background-color: #2146ff;
}
body {
   width: 800px;
   height: 100%;
}

header {
    background-color: #1cff35;
    padding: 5px;
    font-size: 35;
    text-align: center;
    display: block;
}

a {
    color: white;
}
